GoClient
GoServer
*.class
WeatherStation/C++/bin/
WeatherStation/C++/OLD_TESTS/adcTest
WeatherStation/C++/OLD_TESTS/adcTestNames
WeatherStation/C++/OLD_TESTS/anemometerTest
WeatherStation/C++/OLD_TESTS/rainGaugeTest
